*** sonar-scanner.properties    2024/01/18 16:21:23     1.1
--- sonar-scanner.properties    2024/01/18 16:21:39
***************
*** 3,8 ****
--- 3,11 ----
  
  #----- Default SonarQube server
  #sonar.host.url=http://localhost:9000
+ sonar.projectKey=project_key_not_set
+ sonar.login=@secret:local-sonarqube-token.sonartoken@
+ sonar.host.url=http://localhost:9000
  
  #----- Default source code encoding
  #sonar.sourceEncoding=UTF-8
